<configuration>
    <appSettings>
        <add key="source" value="gb2312"/>
        <add key="dest" value="utf-8"/>
        <add key="sourceDir" value="/home/seamas/Projects"/>
        <add key="destDir" value="/home/seamas/Downloads"/>
        <add key="filter" value="csv"/>
    </appSettings>
</configuration>